<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/cognizant" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/cognizant" target="_blank"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.linkedin.com/company/cognizant" target="_blank"
              ><i class="fa fa-linkedin-square"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.facebook.com/Cognizant" target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
        </ul>
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            © All right Reversed. "OUTREACH", Cognizant Technology Solutions
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
